div.about {
    width: 95%;
    margin: auto;
    color: rgb(232, 231, 228);
}
 
div.about img {
    padding: 15px;
}

p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 
    sans-serif;
    font-size: 22px;
    text-align: justify;
    padding: 15px;
}

h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 
    sans-serif;
    font-weight: 200;
    font-size: 52px;
}

h2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 
    sans-serif;
    padding: 20px;
}

h3{
    font-family: cursive;
}

u{
    text-decoration: none;
    font-weight: 500;
}

a#toContact {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: rgb(232, 231, 228);
}

a#toContact:hover {
    color: teal;
}