@charset "utf-8";

div.bookingPageLayout {
    padding: 15px;
    margin: -25px 15px 10px 15px;
}

/*-----------guestInfo layout--------------*/
div.guestInfo {

    background-color: rgb(28, 84, 121);
    color: white;
    padding: 30px;
    margin: 15px;
    border-radius: 10px;
    text-align: inline;
}

/*------------guestInfo style----------------*/

div.guestInfo fieldset {
    border: 2px solid white;
    width: 150px;
    display: inline-table;
    text-align-last: center;
    margin-left: 25px;
}

fieldset#checkin {

    margin-left: 65px;
}

div#paxLength select#pax{
    width: 140px;
    height: 25px;
    text-align-last: center;
}

div#paxLength option.no {
    text-align-last: center;
}

/*edit*/
button#update,
button#clearDate {
    padding: 10px 25px 10px 25px;
    border-radius: 10px;
    font-size: 20px;
}

/*edit*/
div.update_button {

    margin-left: 745px;
    margin-top: -55px;
}

/*edit*/
button:hover {
   
    background-color: rgb(206, 204, 204);
}

/*------------roomBox layout------------------*/

section.roomBox {

    background-color: #5a627e;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    
}

/*edit*/
section.roomBox > h1 {

    margin: 10px 0px 10px 30px; 
    color: white;
    font-size: 23px;
}


/*-------------roombox style-------------------*/

div#the_1st_roomtype, div#the_2nd_roomtype, 
div#the_3rd_roomtype, div#the_4th_roomtype {

    background-color: #C2B9B0;
    margin: 15px 20px 10px 20px;
    height: 310px;
    width: 850px;
    border-radius: 5px;
    overflow: hidden;
   

}

img[id^="paxProom"] {

    width: 10px;
    height: 20px;

}

div.priceInfo {

    background-color: #EEE2DC;
    padding-left: 30px;
    width: 300px;
    height: 343px;
    margin-left: 495px;   

}


div[id^="roomName"] {

    padding-top: 20px;
    font-size: 20px;

}

/*edit*/
div.PPNText  {

    margin-top: 15px;
    margin-bottom: 10px;
    
}

/*edit*/
div.PWNText  {

    margin-top: 5px;
    margin-bottom: 20px;
    
}

/*edit*/
select[id^="qty_room"] {

    padding: 2px 36px 2px 0px;
}



/*edit*/
div.IWantBTN {

    margin: 10px 0px 10px 50px;
    
}

/*edit*/
button[id^="IWantThisRoom"] {

   padding: 6px 50px 6px 50px;
   font-size: 18px;  
   border-radius: 5px;
  

}

/*edit*/
input, select {

    font-size: 15px;
    
}



div.roomAmount div {

    display: inline;

}

/*edit*/
div.RoomQTY {

    margin-top: 15px;
    margin-bottom: 10px;
}

/*edit*/
div.roomAmount {

    margin-top: 5px;
    margin-bottom: 5px;
}

/*edit*/
div.qtyRM {

    margin-left: 55px;

}



/*img*/

img[id^="roomIMG"] {

    float: left;
    width: 450px;
    height: 270px;
    border-radius: 5px;
    padding: 22px 0px 10px 22px;
    
}

/*-------------subtotal layout-------------*/

div.subtotal {

    position: sticky;
    
    background-color: rgb(28, 84, 121);
    color: white;
    border: 0.5px solid black;
    border-radius: 10px;
    margin: 76px 6px 10px 0px;
   
    float: right;
    width: 245px;
    height: 300px;

    top: 100px;
    z-index: 1;
}

/*--------------subtotal style-------------*/

div#STText {

    text-align: center;
    padding: 10px 20px 10px 10px;
    font-size: 20px;

}

/*edit*/
div#STRM {

    text-align: center;
    margin-right: 85px;
}

div#STdisplay {

    text-align: center;
    margin-top: -24px;
    padding-left: 40px;
    font-size: 20px;
    
}

div#privelleges {

    padding-left: 20px;
    padding-top: 10px;
}

div#wholeBookBTN {

    text-align: center;
    margin-top: -15px;
    border-radius: 5px;
}

/*edit*/
button#bookBTN {

    font-size: 20px;
    padding: 10px 50px 10px 50px;
    border-radius: 5px;
}















