.open-button {
    background-color: rgb(48, 79, 138);
    color: white;
    padding: 16px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 100px;
  }
  
  /* The popup chat - hidden by default */
  .chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #4d738d;
    z-index: 60;
    margin: 15px 5px;
    border-radius: 16px;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: rgb(182, 188, 216);
    height: 500px;
    border-radius: 12px;
  }
  
  /* Full-width textarea */
  .form-container textarea {
    width: 85%;
    padding: 15px;
    margin: 5px;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
  }
  
  /* When the textarea gets focus, do something */
  .form-container textarea:focus {
    background-color: rgb(255, 255, 255);
    outline: none;
  }
  
  /* Set a style for the submit/send button */
  .form-container .btn {
    background-color: #2b678a;
    color: white;
    padding: 16px 25px;
    border: none;
    cursor: pointer;
    width: 140px;
    opacity: 0.8;
    float: left;
    margin-left: 5px;
  }

  .form-container .cancel {
    margin-right: 5px;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
}