/* webpage layout */
section.hotelLayout {
    padding: 15px 10px;
    margin: -15px 0px 0px 0px;
    display: grid;
    grid-gap: 15px;
}

div#hotelPicture {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: rgb(77, 104, 148);
    text-align: justify;
    margin: 0;
    box-sizing: border-box;
}

div#hotelName {
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: rgb(77, 104, 148);
    float: left;
}

div#hotelFacilities {
    grid-column: 1/2;
    grid-row: 3/4;
    background-color: rgb(77, 104, 148);
    min-width: 450px;
    max-width: 700px;
    text-align: justify;
}

div#hotelReserve {
    grid-column: 1/2;
    grid-row: 4/5;
    background-color: rgb(20, 60, 87);
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(249, 249, 249);
}

div#hotelDescription {
    grid-column: 2/4;
    grid-row: 1/6;
    background-color: rgb(77, 104, 148);
    color: rgb(249, 249, 249);
    text-align: justify;
    padding: 30px;
}

#block1,
#block3 {
    background-color: rgb(43, 76, 82);
    color: rgb(232, 231, 228);
    padding: 20px 50px ;
}

#block2,
#block4 {
    background-color: rgb(230, 229, 228);
    color: rgb(33, 33, 33);
    padding: 20px 50px ;
}

#fac1,
#fac3 {
    background-color: rgb(43, 76, 82);
    color: rgb(232, 231, 228);
    padding: 20px 50px ;
}

#fac2,
#fac4 {
    background-color: rgb(230, 229, 228);
    color: rgb(33, 33, 33);
    padding: 20px 50px ;
}

/* webpage text desgin */
section.hotelLayout p {
    font-size: 16px;
}

div#hotelName h1 {
    padding: 10px;
    font-size: 40px;
    margin-bottom: -20px;
    color: rgb(211, 211, 211);
}

div#hotelFacilities h3 {
    padding-left: 50px;
    margin-bottom: 10px;
    font-size: 40px;
    font-family: Arial;
    font-weight: 900;
    color: rgb(211, 211, 211);
    margin-bottom: -8px;
}

div#hotelDescription h2 {
    font-size: 40px;
    font-family: Arial;
    font-weight: 900;
    color: rgb(211, 211, 211);
    margin-bottom: -9px;
}

div#hotelFacilities h4,
div#hotelDescription h4 {
    font-size: 25px;
    font-family: Arial;
    font-weight: 900;
}

div#hotelReserve {
    text-align: center;
    font-size: 18px;
}

/* list style */
#nostyle {
    list-style-type: none;
    font-family: Arial;
    font-style: italic;
    font-weight: 700;
    font-size: 18px;
}

/* room photo slides */
div#hotelPicture img {
    vertical-align: middle;
}

.roomContainer {
    position: relative;
}

.roomSlides {
    display: none;
}

.numbertext {
    color: rgb(242, 242, 242);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.fade {
    animation-name: fade;
    animation-duration: 2s;
    background-color: grey;
}

@keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}

/* reserve button */
div#hotelReserve input {
    background-color: rgb(176, 196, 222);
    color: grey;
    width: 100%;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 20px;
    transition: .2s;
}

div#hotelReserve input:hover {
    background-color: rgb(134, 181, 255);
    color: black;
    transform: scale(0.9);
}
