/* webpage layout */
div.faqPage {
    background-color: rgb(230, 229, 228);
    margin: -15px 15px 15px 15px;
    width: 1170px;
    min-width: 970px;
    display: inline-table;
}

div.faqPage #faq {
    width: 580px;
    display: block;
    float: left;
    padding: 50px 50px;
    text-align: justify;
}

div.faqPage div#contactUs {
    background-color: rgb(77, 104, 148);
    display: inline-grid;
    float: right;
    width: 350px;
    margin: 20px;
    padding: 20px 50px;
    position: sticky;
    top: 265px;
    border-radius: 10px;
    box-shadow: 5px 10px 18px rgba(0, 0, 0, 70%);
}

/* webpage text style */
div#faq h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-align: center;
}

div#faq ol li p{
    font-size: 16px;

}

div#contactText {
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px -15px 10px rgba(0, 0, 0, 70%);
}

div#contactText a {
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-size: 20px;
}

/* button style */
div#contactText button {
    background-color: rgb(77, 104, 148);
    width: 200px;
    height: 50px;
    border-radius: 5px;
    transition: .2s;
}

div#contactText button:hover {
    background-color: rgb(103, 181, 196);
    transform: scale(1.2);
}
