div.indexLayout {
    margin: -20px 15px 15px 15px;
}
.present{
    padding: 20px;
    background-color: rgb(164, 164, 224);
    display: inline-block;
}
#display_hotel_img{
    float: left;
    padding-right: 20px;
}
#text{
    background-color: rgb(174, 174, 223);    
    text-align: left;
    margin-top: -24px;
    block-size: 253px;
    font-size: 20px;
}
#about{
    block-size: auto;
    background-color: rgb(152, 152, 185);
    display: inline-block;
    padding: 20px;
}
#text2{
    padding-left: 20px;
    padding-top: 1px;
    background-color: rgb(190, 166, 212);
    block-size: 254px;
    font-size: 20px;
}
video{
    width: 450px;
    float: right;
}
.text3{
    text-align: center;
    font-size: 20px;
    background-color: rgb(190, 166, 212);
}
.p_line{
    margin-top: -20px;
}