#mapping{
    position: relative;
}
#display_saujana{
    bottom: 135px;
    left: 90px;
    position:absolute; 
    background-color: rgb(92, 207, 202);
    padding: 2px 5px;
    border-radius: 5px;
}
#display_majestic{
    position:absolute; 
    background-color: rgb(92, 207, 202);
    top: 220px;
    right: 200px;
    padding: 2px 5px;
    border-radius: 5px;
}
#display_vivatel{
    position:absolute; 
    background-color: rgb(92, 207, 202);
    top: 315px;
    right: 100px;
    padding: 2px 5px;
    border-radius: 5px;
}
#display_berjaya{
    position:absolute; 
    background-color: rgb(92, 207, 202);
    top: 205px;
    right: 150px;
    padding: 2px 5px;
    border-radius: 5px;
}
#display_deface{
    position:absolute; 
    background-color: rgb(92, 207, 202);
    top: 110px;
    right: 200px;
    padding: 2px 5px;
    border-radius: 5px;
}
#display_double_tree{
    position:absolute; 
    background-color: rgb(92, 207, 202);
    top: 90px;
    right: 100px;
    padding: 2px 5px;
    border-radius: 5px;
}
#display_grand_hyatt{
    position:absolute; 
    background-color: rgb(92, 207, 202);
    top: 140px;
    right: 125px;
    padding: 2px 5px;
    border-radius: 5px;
}
#display_maya{
    position:absolute; 
    background-color: rgb(92, 207, 202);
    top: 110px;
    right: 175px;
    padding: 2px 5px;
    border-radius: 5px;
}
#display_regency{
    position:absolute; 
    background-color: rgb(92, 207, 202);
    top: 165px;
    right: 175px;
    padding: 2px 5px;
    border-radius: 5px;
}
#display_shangri_la{
    position:absolute; 
    background-color: rgb(92, 207, 202);
    top: 140px;
    right: 200px;
    padding: 2px 5px;
    border-radius: 5px;
}


