/* navigation bar */
nav {
    width: 1200px;
    padding: auto;
    font-size: 15px;
    position: sticky;
    top: 0;
    border-top: 15px solid rgb(43, 63, 82);
    border-bottom: 15px solid rgb(43, 63, 82);
    z-index: 50;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(75, 110, 142);
}

nav li {
    float: left;
}

nav li a, 
.drop-button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 700;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 40px;
    text-decoration: none;
}

nav li a:hover,
.hotel-list.hotel-list:focus .drop-button {
    background-color: rgb(134, 181, 255);
}

li.hotel-list {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: lightgray;
}

.hotel-list:hover .dropdown-content {
    display: block;
}

.login {
    background-color: rgb(75, 110, 142);
    border-left: 15px solid rgb(43, 63, 82);
}

.login:hover{
    background-color: rgb(173, 234, 173);
    color: rgb(40, 40, 40);
}
