div.orderLayout {
    margin: -15px 15px 0px 15px;
}

.order-list {
           
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
}

.order-header {
    width: 100%;
    background-color: rgb(192, 188, 192);
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid darkgrey;
}


.booking-detail  {
    padding-left: 20px;
    width: 80%;
}

.quantity {
    width: 10%;
    display: flex;
    align-items: center;
}

.price {
    width: 10%;
    display: flex;
    align-items: center;
}

.order, #order {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(192, 188, 192);
    border-bottom: 1px solid darkgrey;

}

.room-image {
    width: 22%;
    display: flex;
    align-items: center;
}

.information {
    width: 43%;
   
}
.order_quantity {
    width: 15%;
    display: flex;
    align-items: center;

}
.order_price {
    width: 20%;
    display: flex;
    align-items: center;
}


.refund{
    text-align: right;
    margin-bottom: 20px;

}

div.refund a {
    color: rgb(211, 211, 211);

}

.button-refund, .button-cancel{
    background-color: rgb(86, 138, 138);
    color: white;
    padding: 5px 15px;
    margin: 15px 10px;
    border-radius: 50px;
}
