@charset "utf-8";

/*layout*/
section#info_block {

    background-color: #9b9faa;
    height: 200%;
    margin: -20px 15px 15px 15px;
    padding-bottom: 100px;

}

hr {

    width: 90%;
    height: 1px;
    background-color: black;
}

h2 {

    padding-left: 40px;
    padding: 10px 0px 10px 40px;
    margin-top: 20px;
    font-size: 30px;
    background-color: rgb(21, 21, 70);
    color: white;
    
}

/*edit*/
button:hover {
   
    background-color: rgb(206, 204, 204);
}

/*booking block*/

/*edit*/
div#hotelName {

    font-size: 28px;
    padding: 5px 5px 5px 5px;
    margin: 5px 0px 5px 70px;
    
}

div.my_booking {

    padding: 20px 10px 10px 10px;
    margin: 20px 100px 20px 100px;
    background-color: #C2B9B0;
    border-radius: 5px;
    overflow: hidden;
}

.booking_details_block {

    float: left;
    padding: 50px 50px 50px 50px;
    margin: -295px 0px 10px 525px;
    background-color: #EEE2DC;
    border-radius: 5px;
    
    

}

div.img_block {

    margin: 20px 0px 20px 30px;
    padding: 0px 0px 0px 0px;
   
    
}


div.roomCount, div.checkin_text,
div.checkout_text, div.duration_text,
div.price_text {

    font-size: 22px;
    
}

div#total_block {

    float: left;
    margin: 40px 0px 20px 220px;
    padding: 50px 50px 50px 50px;
    border-radius: 2px;
    background-color: rgb(224, 217, 217);
    
}

div#total, div#discount {

    display: inline;
   
}

div#total_text {

    font-size: 28px;
}

div#coupon_text {

    margin-left: 410px;
    margin-top: -60px;
}



/*payment block*/


div#payment_block {

    margin-top: 300px;
}

div#payment_details {

    padding-bottom: 20px;
    margin-bottom: 10px;
}

div#debit_credit_text, div#icon {

    display: inline-block;

}

div#debit_credit_text  {

    margin-left: 70px;
    margin-top: 10px;
    font-size: 20px;
    
}


form div {

    padding-left: 160px;
}

div#card_num_text, div#card_name_text,
div#exp_date_text, div#cvv_text,
div#email_text {

    font-size: 16px;
    margin-top: 20px;
}



div#exp_date_text, div#cvv_text {

    display: inline-block;

}

div#cvv_text {

    padding-left: 40px;

}

div#remarks_text, div#wholePayBTN,
div#agreement_text, div#letter_count_text {

    float: left;
    padding-left: 615px;
    
}

div#remarks_text {

    padding-right: 100px;
    padding-top: 10px;
    margin-top: -300px;
 }

div#letter_count_text {

    margin-top: -80px;
}
 
div#letter_count, div#max_letter {

    display: inline;

}

div#letter_count {

    padding-left: 353px;
}
 

div#agreement_text {

    margin-top: -30px;

}

div#wholePayBTN {

    padding-top: 20px;
    
}

/*style*/

input#card_num:focus:valid {

    background-image: url("/image/payment_icons/valid_icon.png");
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: right;

}

input#card_num:focus:invalid {

    background-image: url("/image/payment_icons/invalid_icon.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: right;
}