div.refundLayout {
    margin: 15px;
}

.order-list {
           
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px ;
}

.order-header {
    width: 100%;
    background-color: rgb(192, 188, 192);
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid darkgrey;
}


.booking-detail  {
    padding-left: 20px;
    width: 77%;
}

.quantity {
    width: 9%;
    display: flex;
    align-items: center;
}

.price {
    width: 14%;
    display: flex;
    align-items: center;
}

.order, #order {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(192, 188, 192);
    border-bottom: 1px solid darkgrey;

}

.room-image {
    width: 22%;
    display: flex;
    align-items: center;
}

.information {
    width: 43%;
   
}
.order_quantity {
    width: 15%;
    display: flex;
    align-items: center;

}
.order_price {
    width: 20%;
    display: flex;
    align-items: center;
}


.refund{
    text-align: left;
    margin-bottom: 20px;
    background-color: rgb(168, 164, 168);;
    width:20%;
    
}
.btn-refund {
    background-color: rgb(86, 138, 138);
    color: white;
}

button.returnButton {
    background-color: rgb(86, 138, 138);
    color: white;
    margin: 15px;
    padding: 5px 15px;
    float: right;
}