/*-------------general font design-----------*/
h1{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 
    sans-serif;

}

h2{
    text-align: center;
    color:aliceblue;
    font-size: 24px;
    font-weight: 250;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 
    sans-serif;
    /*text-decoration: underline ;
    text-decoration-color: #d5b8ff;*/
}
h3{
    color: aliceblue;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 
    sans-serif;
}

/*-------------link design-----------*/
/*unvisited link*/
form a:link{
    color:aliceblue;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif;
}

form a:hover{
    color:#19b5fe;
}

/* visited link */
form a:visited {
    color: aliceblue;
    text-decoration: none;
  }

/* selected link */
form a:active {
    color: #00e640;
  } 

/*-------------general box design-----------*/

.box{
    width: 720px;
    padding: 40px;
    position:absolute;
    top: 315px;
    left:50%;
    margin:450px auto;
    transform: translate(-50%,-50%);
    background: #2e3131;
    border-radius: 10px;
}
.box h1{
    color:#fa6899;
    font-size: 80px;
    font-family:'Courier New', Courier, monospace;
}

.box input[type = "text"],.box input[type = "password"]{
    border:0;
    background: none;
    display:block;
    /*margin:20px auto;*/
    text-align: center;
    border:2px solid  aliceblue;
    padding: 14px 10px;
    width: 200px;
    outline:none;
    color:white;
    border-radius: 24px;
    transition: 0.25s;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif;
}

.box input[type = "text"]:focus,.box input[type = "password"]:focus{
    width: 280px;
    border-color:#00e640;
}

.box input[type="submit"],.box input[type="button"]{
    border:0;
    background: none;
    display:block;
    margin:60px auto;
    text-align: center;
    border:2px solid  #19b5fe;
    padding: 14px 60px;
    width: 200px;
    outline:none;
    color:white;
    
    transition: 0.25s;
    cursor:pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif;
}

.box input[type="submit"]:hover{
    background:#19b5fe;
}

div.row{
    width: 60%;
    display: table;
    margin: auto;
}

div.col {
    display: table-cell;
    padding: 5px
  }

div.col.left{
    width: 20%;
}

div.col.right{
    width: 80%;
}

label{
    color:gray;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif;
}

div.register a{
    display: block;
}

div.register a.left {
    float: left;
}

div.register a.right {
    float: right;
}