div.dealBox {
    margin: -0px 20px 15px 20px;
}

.text {
    text-align: center;
    background-color: cornflowerblue;
    margin: 0px 100px 15px 100px;
    padding: 5px;
    border-radius: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
table {
    text-align: center;
    background-color: yellowgreen;
    border-spacing: 10px;
    font-size: 25px;
    border-radius: 5px;
}
th, td{
    background-color: bisque;
}
.coupon {
    font-size: 25px;
}
audio{
    display: none;
}
