@charset "utf-8";

/*background picture*/
body {
    background-color: rgb(43, 63, 82);
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    max-width: 1200px;
    min-width: 1000px;
    margin: auto;
}

.logo{
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

/*footer*/
footer{
    background-color: rgb(75, 110, 142);
    width: 100%;
    padding: auto;
    margin: 1050px auto;
    height: 100px;
    display: grid;
    margin-bottom: 50px;
}
footer .socialproof a {
    float: right;
    padding: 10px;
    transition: .2s;
}
footer .socialproof a:hover {
    transform: scale(1.3);
}
footer #footerleft {
    padding: 10px;
    float: left;
}
footer .about_us a,
footer .faq a {
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 20px;
    text-decoration: none;
    color: white;
}

footer .about_us a:hover,
footer .faq a:hover {
    color: rgb(52, 23, 18);
}

footer .copyright {
    text-align: center;
    display: inline-table;
    background-color: rgb(95, 139, 180);
    color: rgb(211, 211, 211);
}